{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "env": {
    "es6": false,
    "browser": false,
    "jasmine": false,
    "node":true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true
  }
}
